body{
    background-color: wheat;
}

.jumbotron{
    background-color: wheat;
}

.container h1{
    color:white;
    
}



.form-group li{
    color:white;
}

.btn-primary:hover{
    background:green;
}

